.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
  top: 0;
  z-index: 100;
}
