.layout {
  height: calc(100% - 80px);
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 80px;
  padding: 30px;
}

.innerLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  width: calc(100% - 40px);
  margin: inherit auto !important;
}
.error {
  width: calc(100% - 40px);
  margin: inherit auto !important;
}
