.petList {
  display: flex;
  flex-wrap: wrap;
}

.cardContainer {
  margin: 15px !important;
}
.cardContainer:nth-child(4) {
  flex-basis: 100%;
}

.progress {
  margin: 10px 0 !important;
}

.button {
  width: 100%;
  margin-top: 0px !important;
}
