.roomInfo {
  width: 500px;
  min-height: 115px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 0px 20px;
  border: 5px solid #666;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.row1 {
  display: flex;
}
.row1 > div {
  background-color: #dfdfdf;
  border-radius: 5px;
  width: calc(50% - 5px);
  padding: 10px;
}
.row1 > div:first-of-type {
  margin-right: 10px;
}

.row2 {
  background-color: #d4ffd8;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
